.aliceblue {
	background: #f0f8ff;
}

.antiquewhite {
	background: #faebd7;
}

.aqua {
	background: #00ffff;
}

.aquamarine {
	background: #7fffd4;
}

.azure {
	background: #f0ffff;
}

.beige {
	background: #f5f5dc;
}

.bisque {
	background: #ffe4c4;
}

.black {
	background: #808080;
}

.blanchedalmond {
	background: #ffebcd;
}

.blue {
	background: #0000ff;
}

.blueviolet {
	background: #8a2be2;
}

.brown {
	background: #a52a2a;
}

.burlywood {
	background: #deb887;
}

.cadetblue {
	background: #5f9ea0;
}

.chartreuse {
	background: #7fff00;
}

.chocolate {
	background: #d2691e;
}

.coral {
	background: #ff7f50;
}

.cornflowerblue {
	background: #6495ed;
}

.cornsilk {
	background: #fff8dc;
}

.crimson {
	background: #dc143c;
}

.cyan {
	background: #00ffff;
}

.darkblue {
	background: #00008b;
}

.darkcyan {
	background: #008b8b;
}

.darkgoldenrod {
	background: #b8860b;
}

.darkgray {
	background: #a9a9a9;
}

.darkgreen {
	background: #006400;
}

.darkkhaki {
	background: #bdb76b;
}

.darkmagenta {
	background: #8b008b;
}

.darkolivegreen {
	background: #556b2f;
}

.darkorange {
	background: #ff8c00;
}

.darkorchid {
	background: #9932cc;
}

.darkred {
	background: #8b0000;
}

.darksalmon {
	background: #e9967a;
}

.darkseagreen {
	background: #8fbc8f;
}

.darkslateblue {
	background: #483d8b;
}

.darkslategray {
	background: #2f4f4f;
}

.darkturquoise {
	background: #00ced1;
}

.darkviolet {
	background: #9400d3;
}

.deeppink {
	background: #ff1493;
}

.deepskyblue {
	background: #00bfff;
}

.dimgray {
	background: #696969;
}

.dodgerblue {
	background: #1e90ff;
}

.firebrick {
	background: #b22222;
}

.floralwhite {
	background: #fffaf0;
}

.forestgreen {
	background: #228b22;
}

.fuchsia {
	background: #ff00ff;
}

.gainsboro {
	background: #dcdcdc;
}

.ghostwhite {
	background: #f8f8ff;
}

.gold {
	background: #ffd700;
}

.goldenrod {
	background: #daa520;
}

.gray {
	background: #808080;
}

.green {
	background: #006400;
}

.greenyellow {
	background: #adff2f;
}

.honeydew {
	background: #f0fff0;
}

.hotpink {
	background: #ff69b4;
}

.indianred {
	background: #cd5c5c;
}

.indigo {
	background: #4b0082;
}

.ivory {
	background: #fffff0;
}

.khaki {
	background: #f0e68c;
}

.lavender {
	background: #e6e6fa;
}

.lavenderblush {
	background: #fff0f5;
}

.lawngreen {
	background: #7cfc00;
}

.lemonchiffon {
	background: #fffacd;
}

.lightblue {
	background: #add8e6;
}

.lightcoral {
	background: #f08080;
}

.lightcyan {
	background: #e0ffff;
}

.lightgoldenrodyellow {
	background: #fafad2;
}

.lightgrey {
	background: #d3d3d3;
}

.lightgreen {
	background: #90ee90;
}

.lightpink {
	background: #ffb6c1;
}

.lightsalmon {
	background: #ffa07a;
}

.lightseagreen {
	background: #20b2aa;
}

.lightskyblue {
	background: #87cefa;
}

.lightslategray {
	background: #778899;
}

.lightsteelblue {
	background: #b0c4de;
}

.lightyellow {
	background: #ffffe0;
}

.lime {
	background: #00ff00;
}

.limegreen {
	background: #32cd32;
}

.linen {
	background: #faf0e6;
}

.magenta {
	background: #ff00ff;
}

.maroon {
	background: #800000;
}

.mediumaquamarine {
	background: #66cdaa;
}

.mediumblue {
	background: #0000cd;
}

.mediumorchid {
	background: #ba55d3;
}

.mediumpurple {
	background: #9370d8;
}

.mediumseagreen {
	background: #3cb371;
}

.mediumslateblue {
	background: #7b68ee;
}

.mediumspringgreen {
	background: #00fa9a;
}

.mediumturquoise {
	background: #48d1cc;
}

.mediumvioletred {
	background: #c71585;
}

.midnightblue {
	background: #191970;
}

.mintcream {
	background: #f5fffa;
}

.mistyrose {
	background: #ffe4e1;
}

.moccasin {
	background: #ffe4b5;
}

.navajowhite {
	background: #ffdead;
}

.navy {
	background: #000080;
}

.oldlace {
	background: #fdf5e6;
}

.olive {
	background: #808000;
}

.olivedrab {
	background: #6b8e23;
}

.orange {
	background: #ffa500;
}

.orangered {
	background: #ff4500;
}

.orchid {
	background: #da70d6;
}

.palegoldenrod {
	background: #eee8aa;
}

.palegreen {
	background: #98fb98;
}

.paleturquoise {
	background: #afeeee;
}

.palevioletred {
	background: #d87093;
}

.papayawhip {
	background: #ffefd5;
}

.peachpuff {
	background: #ffdab9;
}

.peru {
	background: #cd853f;
}

.pink {
	background: #e8a2ae;
}

.plum {
	background: #dda0dd;
}

.powderblue {
	background: #b0e0e6;
}

.purple {
	background: #800080;
}

.rebeccapurple {
	background: #663399;
}

.red {
	background: #8b0000;
}

.rosybrown {
	background: #bc8f8f;
}

.royalblue {
	background: #4169e1;
}

.saddlebrown {
	background: #8b4513;
}

.salmon {
	background: #fa8072;
}

.sandybrown {
	background: #f4a460;
}

.seagreen {
	background: #2e8b57;
}

.seashell {
	background: #fff5ee;
}

.sienna {
	background: #a0522d;
}

.silver {
	background: #c0c0c0;
}

.skyblue {
	background: #87ceeb;
}

.slateblue {
	background: #6a5acd;
}

.slategray {
	background: #708090;
}

.snow {
	background: #fffafa;
}

.springgreen {
	background: #00ff7f;
}

.steelblue {
	background: #4682b4;
}

.tan {
	background: #d2b48c;
}

.teal {
	background: #008080;
}

.thistle {
	background: #d8bfd8;
}

.tomato {
	background: #ff6347;
}

.turquoise {
	background: #40e0d0;
}

.violet {
	background: #ee82ee;
}

.wheat {
	background: #f5deb3;
}

.white {
	background: #d1d1d1;
}

.whitesmoke {
	background: #f5f5f5;
}

.yellow {
	background: #daa520;
}

.yellowgreen {
	background: #9acd32;
}
