.button_container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.button {
	background-color: rgb(87, 87, 253);
	padding: 8px;
	margin: 5px;
	border-radius: 3px;
	border: none;
	width: 100%;
	font-weight: 500;
	color: white;
	cursor: pointer;
}

.button:hover {
	background-color: rgb(56, 56, 255);
}

.disabled,
.disabled:hover {
	background-color: rgba(87, 87, 253, 0.479);
	cursor: not-allowed;
}
