.card {
	width: 350px;
	height: 500px;
	border-radius: 5px;
	box-shadow: 0 0 0 10px gold;
	padding: 5px 10px;
	position: relative;
	background: rgb(2, 0, 36);
}

.image {
	height: 40%;
	background-color: rgb(238, 238, 238);
	border: 2px solid black;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 25px;
}

.image .error {
    background-color: red;
    border: red 1px solid;
    border-radius: 3px;
    color: white;
    padding: 5px;
    margin-left: 90px;
}

.image img {
	width: 55%;
	max-width: 180px;
}

@keyframes spinning {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.spinner {
	animation-name: spinning;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	/* linear | ease | ease-in | ease-out | ease-in-out */
	animation-timing-function: linear;
}

.header {
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	background-color: rgba(255, 255, 255, 0.521);
	border-radius: 3px;
	padding: 3px 10px;
	margin: 5px 0;
}

.size {
	border-top: 1px solid black;
	margin-top: -27px;
	padding: 3px 0;
	font-size: small;
	display: flex;
	justify-content: space-around;
}

.size span {
	font-weight: 500;
}

.size img {
	margin: 0 0 0 3px;
	cursor: pointer;
}

.hp {
	display: flex;
	align-items: center;
}

.hp span {
	font-size: small;
	margin-right: 3px;
	font-weight: 500;
}

.generation {
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.5);
	transform: skew(-18deg);
	color: white;
	font-size: small;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 7px;
}
